@model IEnumerable<Product>

@{
    ViewBag.Title = "trang chủ sản phẩm";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            <img alt="SanPham" height="200" width="150" src="~/wwwroot/images/@item.Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }) |
            <a href="@Url.Action("Index","ProductDetails", new { id = item.ProductID})">Chi tiết</a> |
            @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID })
        </td>
    </tr>
}

</table>
